<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page Not Found</title>
    <link rel="stylesheet" href="biotech/css/style.css">
    <style> </style>
</head>
<body>
    <div class="error-container" style="text-align: center; margin: top 250px;">
        <p style="margin-top: 50px; font-size:30px;">The Page will be Uploaded Soon.</p>
        <a href="/biotech/home.html" style="font-size: 25px;">Go Back to Home</a>
    </div>
</body>
</html>