
{% extends "parent.html" %}

{%block body%}
{%load static%}
<!-- our organization start -->
<div class="row">
            <div class="col-sm-12 p-0 mt-1 ">
                <h2 class="text-center fw-bold th" style="padding: 100px; color:white; font-size:40px; background-image: linear-gradient(to right,rgba(0, 0, 0, 0.500),rgba(0, 0, 0, 0.60)),url(static/imgs/chemical1.png); background-size: cover; font-family: sans-serif;">Our Organization</h2>
            </div>
        </div>
        <!-- our organization end -->

        <!-- About organization start -->
        <div class="container">
        <div class="row mt-3 mb-4">
        <div class="col-md-6">
            <img src="{%static 'imgs/bio tech park.jpeg'%}" class="w-100 h-100" style="border-radius:5px;">
        </div>
        <div class="col-md-6">
            <h4 class="mt-4">About Organization</h4>
            <hr>
            <p style="text-align:justify; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                The Biotechnology Park in Lucknow, "The City of Nawabs," has transformed Lucknow into a leading Biotechnology City in North India. Established in 2002 through a partnership between the Department of Biotechnology, Government of India, and the Department of Science and Technology, Government of Uttar Pradesh, it became fully operational by 2007. Registered under the Indian Societies Act of 1868, the park operates under a robust governance framework ensuring efficiency, transparency, and accountability.

                Located strategically in Lucknow, the capital city of Uttar Pradesh, well known for its cultural heritage and administrative significance, the park here is a hub for biotechnology-driven enterprises. It catalyzes advancements in agriculture, healthcare, and industrial applications through cutting-edge facilities. The park houses laboratories and startups focused on various domains of Biotechnology.

                Moreover, by facilitating collaboration among academia, industry, and government, it promotes innovation, technology transfer, and skill development in biotechnology. Beyond economic growth, the park fosters social development by creating employment opportunities, promoting sustainable practices, and enhancing India's global biotechnology leadership. With state-of-the-art infrastructure and a commitment to excellence, Biotech Park, Lucknow, continues to drive forward as a pivotal player in India's biotech sector.

            </p>
        </div>
    </div>
        </div>
        <!-- About organization end -->

        <!-- About vision start -->
        <div class="row mt-2 pt-4 pb-4" style="background-image: linear-gradient(to right,rgba(0, 0, 0, 0.639),rgba(0, 0, 0, 0.74)),url('/biotech/imgs/IMG_4830.jpg'); background-size: cover; background-repeat: no-repeat; color:white; ">
        <div>
        <div class="container">
            <div class="row">

                <div class="col-md-7 mt-4 p-4 pb-0 mb-3 bg-light text-dark bghy" style="border-radius:5px;">
                    <div class="boxs p-4 pt-0">
                        <h4 class="fw-bold"><i class="fa-solid fa-bullseye" style="color:green;"></i>&nbsp;Vision</h4>
                        <p style="text-align: justify;">
                            To imporve the biotechnology landscape by Providing  Infrastucture for R&amp;D product development,entrepreurship and translating the technology from lab scale to pilot scale production in order to accomplish the vision of Aatm-nirbhar Bharat and Viksit Bharat@2047
                            <br>
                            <br>
                            Focusing On Gevernment's Bio-E3 policy to Strengthen the position of State and Nation as a global bio-economy leader,
                        </p>
                    </div>
                </div>


                <div class="col-md-5 hj" style="margin-top:30px;">
                    <div class="shadow bg-light text-dark" style="border: 1px solid transparent; border-radius: 4px;">
                        <p class="p-2 pt-3 mt-auto ms-2" style="text-align:justify;"><i class="fa-solid fa-building" style="font-size: 26px; color:green;"></i>&nbsp;&nbsp;Lucknow named Biotech City during January 2002 Congress.</p>
                    </div>
                    <div class="mt-3 shadow bg-light text-dark" style="border: 1px solid transparent; border-radius:4px;">
                        <p class="p-2 pt-3 ms-2"><i class="fa-solid fa-building-shield" style="font-size:25px; color:green;"></i>&nbsp;&nbsp;Sri Atal Bihari Vajpayee laid foundation stone on 21st May 2003.</p>
                    </div>
                    <div class="mt-3 shadow bg-light text-dark" style="border: 1px solid transparent; border-radius: 4px;">
                        <p class="p-2 pt-3 ms-2" style="text-align:justify;"><i class="fa-solid fa-building-wheat" style="font-size: 25px; color:green"></i>&nbsp;&nbsp;Sri Kapil Sibal inaugurated Biotech Park on 7th December 2008..</p>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 bg-light text-dark mt-2 p-3 rounded-1">
                    <h4 class="fw-bold"><i class="fa-solid fa-eye-low-vision" style="color:green"></i>&nbsp;Mission</h4>
                    <ul>
                        <li>To bridge the gap Between Technological Advancements and biotechnology Based etnerprises and create suitable connection between Academia research Organiztions and biotech industries.</li>
                        <li>Promote  and Support Startups, incubation and entrepreneurships in biotech industries.</li>
                        <li>to provide fuctional links Between knowledge epicentres such as research labs and  universities in india and abroad to create Strong knowledge network.</li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
    
</div>
        <!-- About vision end -->

        <!-- Modal start -->
        <form action="/home/indexsave" method="post" id="myFrom" onsubmit="sendForm(event)">


        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="border-radius:0px !important;">
            <div class="modal-dialog" style="border-radius: 0px; background-image: linear-gradient(to right,rgb(4, 89, 209),rgb(18, 121, 5));">
                <div class="modal-content" style="background-image: linear-gradient(to right,rgb(4, 89, 209),rgb(18, 121, 5)); color:white;">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Do You Have Any Query</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-2">
                            <label for="recipient-name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" name="name" placeholder="Enter Your Name" style="border: 1px solid black; border-radius: 0px; width:100%;">
                        </div>
                        <div class="mb-2">
                            <label for="recipient-name" class="col-form-label">Mobile:</label>
                            <input type="text" class="form-control" name="mobile" placeholder="Enter Your Mobile" style="width: 100%; border: 1px solid black; border-radius: 0px;">
                        </div>
                        <div class="mb-2">
                            <label for="recipient-name" class="col-form-label">Email:</label>
                            <input type="text" class="form-control" name="email" placeholder="Enter Your Email" style="width: 100%; border:1px solid black; border-radius:0px;">
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Message:</label>
                            <textarea class="form-control" name="massege" placeholder="Enter Your Query" style="width: 100%; border: 1px solid black; border-radius: 0px;"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" style="background-color:white; color:black;" data-bs-dismiss="modal">Close</button>
                        <input type="submit" value="Send Message" style="background-color:white; color:black;" class="btn btn-secondary">
                    </div>
                </div>
            </div>
        </div>
        </form>
    
          <!-- Right-side Vertical Tabs -->
  <div class="col-sm-6">
      <div class="side-tab enquire-tab " data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-image: linear-gradient(to right,rgb(4, 89, 209),rgb(18, 121, 5)); color:white;"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;
    Enquire Now
</div>
  </div>

<div class="col-sm-4">
    <div class="side-tab call-tab" onclick="window.location.href='tel:8953974657';" style="background-image: linear-gradient(to right,rgb(4, 89, 209),rgb(18, 121, 5)); color:white;"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;
    Call Us
</div>
</div>

<a href="https://api.whatsapp.com/send/?phone=918953974657&text&type=phone_number&app_absent=0" class="whatsapp-tab" target="_blank">
    <img src="{%static 'imgs/whatsapp.png'%} alt="WhatsApp" />
</a>


<style>
/* Vertical Enquire and Call Us Tabs */
.side-tab {
    position: fixed;
    right: 0;
    z-index: 10000;
    color: white;
    padding: 10px 5px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    font-weight: bold;
    border-radius: 0px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    font-size: 14px;
    
}

.enquire-tab {
    top: 40%;

}

.call-tab {
    top: 55%;
}

/* WhatsApp Button (Bottom Left) */
.whatsapp-tab {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
}

.whatsapp-tab img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
</style>
{% endblock %}