{%extends 'studentparent.html'%}
{%block body%}
<div class="row">
    <div class="col-sm-12">
        <h1 class="text-center text-light mt-2">Study Material</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-8 mx-auto bg-light shadow-lg rounded-5 p-5">
        <table class="table table-light bg-light">
            <tr>
                <th>S.no</th>
            <th>Course</th>
            <th>Branch</th>
            <th>Session</th>
            <th>Subject</th>
            <th>File</th>
            <th colspan="3">Action</th>
</tr>
{%for i in st%}
<tr>
    <td>{{forloop.counter}}</td>
    <td>{{i.course}}</td>
    <td>{{i.branch}}</td>
    <td>{{i.session}}</td>
    <td>{{i.subject}}</td>
     <td>{{i.file_name}}</td>
    <td><a href="/media/{{i.file}}" target="_blank" class ="btn btn-sm btn-primary"><i class="fa fa-eye"></i></a></td>
       
</tr>
{%endfor%}
        </table>
    </div>
</div>
{%endblock%}